In [1]:
import pandas as pd
import requests
import json

In [2]:
url = 'https://api-metrika.yandex.net/stat/v1/data?'
visits = 'metrics=ym:s:visits&dimensions=ym:s:date&id=44147844'

In [3]:
visits_url = url + visits

In [4]:
visits_request = requests.get(visits_url)

In [5]:
visits_request

In [6]:
json_data = json.loads(visits_request.text)

In [8]:
json_data['data']

[{'dimensions': [{'name': '2025-03-13'}], 'metrics': [296.0]},
 {'dimensions': [{'name': '2025-03-14'}], 'metrics': [285.0]},
 {'dimensions': [{'name': '2025-03-12'}], 'metrics': [281.0]},
 {'dimensions': [{'name': '2025-03-17'}], 'metrics': [251.0]},
 {'dimensions': [{'name': '2025-03-18'}], 'metrics': [247.0]},
 {'dimensions': [{'name': '2025-03-15'}], 'metrics': [230.0]},
 {'dimensions': [{'name': '2025-03-16'}], 'metrics': [201.0]}]

In [9]:
y_df = pd.DataFrame([(i['dimensions'][0]['name'], 
  i['metrics'][0]) for i in json_data['data']], columns=['date', 
                                                        'visits'])

In [10]:
y_df

         date  visits
0  2025-03-13   296.0
1  2025-03-14   285.0
2  2025-03-12   281.0
3  2025-03-17   251.0
4  2025-03-18   247.0
5  2025-03-15   230.0
6  2025-03-16   201.0