We have a dataset with data on ad clicks and impressions, which contains missing values. Calculate the number of rows without missing values in the **click_type** column.

In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/361619/sample_ads.csv')

In [4]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [5]:
not_nan_count = df.click_type.notna().sum()

In [6]:
not_nan_count

11

The list **lst** contains various elements. Create a new list and do the following:
* Using a **try-except** block and a loop, attempt to convert each value in lst to an int.
* If the conversion is successful, add the converted value to **new_list**.

In [7]:
lst = [1, 'lol', '8181811818', '42,0', 295, -0.5, 0, None]

In [8]:
new_list = []
for item in lst:
    try:
        int_item = int(item)
        new_list.append(int_item)
    except (TypeError, ValueError):
        pass

In [9]:
new_list

[1, 8181811818, 295, 0, 0]