In [1]:
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [3]:
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

my_mail = 'yrslv.trgb@gmail.com'

# Authorization
credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/iaroslav/Downloads/citric-dream-454109-t6-9ed63c964093.json', scope)
gs = gspread.authorize(credentials)

In [5]:
# Name of the table in google sheets, 
# can be url for open_by_url
# or id (key) part for open_by_key
table_name = 'testing_worksheet'  # Your table
# Get this table
work_sheet = gs.open(table_name)
print(work_sheet.id)

1QNhPRH0bcq7hrkDuI1xEdb7FkiwD8ar70QmbEBc57GM

In [7]:
# Select 1st sheet
sheet1 = work_sheet.sheet1

# Get data in python lists format
data = sheet1.get_all_values()

In [9]:
data

[['Numbers', 'Groups'], ['1', 'Group_1'], ['2', 'Group_2']]

In [11]:
headers = data.pop(0)

In [13]:
df = pd.DataFrame(data, columns = headers)

In [15]:
df

  Numbers   Groups
0       1  Group_1
1       2  Group_2

In [19]:
sheet1.append_row([40, 'Group_4'])

{'spreadsheetId': '1QNhPRH0bcq7hrkDuI1xEdb7FkiwD8ar70QmbEBc57GM',
 'tableRange': "'Лист1'!A1:B4",
 'updates': {'spreadsheetId': '1QNhPRH0bcq7hrkDuI1xEdb7FkiwD8ar70QmbEBc57GM',
  'updatedRange': "'Лист1'!A5:B5",
  'updatedRows': 1,
  'updatedColumns': 2,
  'updatedCells': 2}}

In [29]:
# Looks like spreadsheet should be already present at the dist (so, run code in create table section)
spreadsheet_name = '1_HBBYKJTuEPnosOlCS_bnP8fbscY3SbzHgjmKGe8E48'
sheet = 'test5'
d2g.upload(df, spreadsheet_name, sheet, credentials=credentials, row_names=True, clean=False)

/opt/anaconda3/lib/python3.12/site-packages/df2gspread/df2gspread.py:138: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(str)