In [1]:
import pandas as pd
import os

In [2]:
list = [int(i.strip()) for i in open('4_necessary_inn.txt').readlines()]

In [3]:
data = pd.read_excel('4_inn.xls')

In [4]:
data.dtypes

Unnamed: 0                 int64
#                          int64
name                      object
reg_number                 int64
address                   object
head                      object
head_job                  object
head_inn                   int64
phone                     object
email                     object
site                      object
registration_date         object
nalogoplatelschik_code    object
oktmo_code                 int64
okato_code                 int64
registration_region       object
okato_name                object
field                     object
capital,RUB                int64
income,RUB                 int64
dtype: object

In [5]:
filtered_data = data[data['head_inn'].isin(list)]

In [18]:
filtered_data['income,RUB'].sum()

6104522627393