In [1]:
import pandas as pd

In [2]:
def read_n_agg(path):
    data = pd.read_csv(path, sep=';')                         # read csv file with ';' separator
    mean_inc = data.groupby('company').agg({'income':'mean'}) # сalculate the average income for each company
    return mean_inc                                           # returns the result of these actions (the aggregated DataFrame)

In [3]:
path = '3_companies.csv'

In [4]:
mean_income = read_n_agg(path)

In [5]:
mean_income.head()

                                                income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10